<ion-content class="fullscreen" id="login-page">

  <div class="login-logo">
    <img src="assets/icon/favicon.png" style="width:100px;" alt="Ionic logo" />
  </div>
  <ion-card class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-icon class="login-icon" color="primary" icon="mail" slot="start" ></ion-icon>
        <ion-label position="floating" color="primary">Email Address</ion-label>
        <ion-input name="email" [(ngModel)]="email" type="email" spellcheck="false" autocapitalize="off" required ></ion-input> 
      </ion-item>
      <ion-item>
        <ion-icon class="login-icon" color="primary" icon="lock-closed" slot="start"></ion-icon>
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input name ="password" [(ngModel)]="password" type="password"  spellcheck="false" autocapitalize="off" required ></ion-input> 
      </ion-item>
      <ion-item>
        <ion-button slot="end" (click)="forgetpass()"  color="secondary">Forgot Password ? </ion-button>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" (click)="login()" expand="block">Sign In</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <hr />
        </ion-col>
        <ion-col class="or">
          or signin with
        </ion-col>
        <ion-col>
          <hr />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="socialicon">
          <ion-button color="danger" class="logoGoogle">
          <ion-icon icon="logo-google"></ion-icon>
          </ion-button>
          <ion-button color="primary" class="logoFacebook">
          <ion-icon icon="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button color="secondary" class="logoTwitter">
          <ion-icon icon="logo-twitter"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card> 
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="signup()" color="light" expand="block">
          New here ?
    </ion-button>
  </ion-toolbar>
</ion-footer>
