<ion-header>
  <ion-toolbar>
    <ion-title> BECOME A TEACHER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-list style="padding-left: 20px;">
    <ion-input placeholder="Enter Phone"></ion-input>
  <ion-input placeholder="Enter Subject"></ion-input>
  <ion-input placeholder="Your school name"></ion-input>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>

      <ion-col>
        <ion-button style="font-size: 3mm; color: white;">Become a Teacher</ion-button>
      </ion-col>

      <ion-col>
        
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-card>
  
</ion-content>
